.user {
  ion-icon {
    font-size: 45px;
  }

  h2 {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

ion-card {
  margin: 5px;
  width: 100%;
}

ion-button, ion-card {
  height: 50px;
}

ion-card-content {
  padding: 0 5px 0 5px;
}

.ios ion-card-content {
  ion-col {
    margin-top: 7px;
  }
}

.md ion-card-content {
  ion-col {
    margin-top: 10px;
  }
}

.ios ion-toggle {
  zoom: 0.8;
}

.md #switch {
  margin-top: 1px;
  padding-right: 0;
}
