.ios ion-toggle {
  zoom: 0.8;
}

.ios #switch {
  padding-top: 3px;
  padding-bottom: 3px;
}

.user {
  ion-icon {
    font-size: 45px;
  }

  h2 {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.box {
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 15px;
  margin-bottom: 13px;

  ion-col {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
}

ion-button {
  height: 50px;
}
