<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row class="user">
          <ion-icon name="person-circle-outline"></ion-icon>
          <h2>dmnktrn</h2>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Konto</h1>
      </ion-col>
    </ion-row>
    <ion-row class="box">
      <ion-col>
        <span>Kontodaten ändern</span>
      </ion-col>
    </ion-row>
    <ion-row class="box">
      <ion-col>
        <span>Passwort ändern</span>
      </ion-col>
    </ion-row>
    <ion-row class="box">
      <ion-col>
        <span>Konto löschen</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Präferenzen</h2>
      </ion-col>
    </ion-row>
    <ion-row class="box">
      <ion-col>
        <span>Dunkles Design</span>
      </ion-col>
      <ion-col id="switch" class="ion-text-right">
        <div *ngIf="darkTheme; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <ion-toggle checked="true" (ionChange)="callToggle()" color="primary"></ion-toggle>
        </ng-template>
        <ng-template #elseBlock>
          <ion-toggle (ionChange)="callToggle()" color="primary"></ion-toggle>
        </ng-template>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/login">Logout</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
