<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <h1>Hallo, dmnktrn</h1>
          <p>Hier ist deine heutige Übersicht</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="barbell-sharp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="scale-sharp"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
