<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <h1>{{ getGreeting() }}, dmnktrn</h1>
          <p>Hier ist deine heutige Übersicht</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            Line Chart
          </ion-card-header>
          <ion-card-content>
            <canvas #lineCanvas style="position: relative; height:200px"></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <ion-card class="ion-activatable ripple-parent">
          <div class="ion-text-center">
            <p>Aktueller Rang</p>
            <h1>#5</h1>
            <p>Punktanzahl</p>
            <h2>1500</h2>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-activatable ripple-parent">
          <img src="../../assets//fitness_stats.svg">
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-activatable ripple-parent">
          <p class="ion-text-center">Zu den Übungsstatistiken</p>
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <ion-col size="5">
        <ion-card id="trigger-click" class="ion-activatable ripple-parent">
          <p class="ion-text-center">Aktuelles Gewicht</p>
          <h1 class="ion-text-center">63kg</h1>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
        <ion-modal [swipeToClose]="true" class="myModal" trigger="trigger-click">
          <ng-template>
            <ion-content>
              Weight
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="secondary" (click)="add()">
        <ion-icon name="barbell-sharp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary">
        <ion-icon name="scale-sharp"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
