<ion-content class="fadeBackground" [forceOverscroll]="false">
  <div id="container">
    <div class="card">
      <h1 class="ion-text-center">Login</h1>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input placeholder="E-Mail" type="email" [(ngModel)]="email"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="Passwort" type="password" [(ngModel)]="password"></ion-input>
            <span>
              <a class="ion-float-left" routerLink="/forgot-pw">Passwort vergessen?</a>
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-button (click)="login()">Anmelden</ion-button>
            </ion-row>
            <p class="ion-text-center">oder</p>
            <ion-row>
              <ion-button color="secondary" routerLink="/signup">Registrieren</ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

